.floating-contact-form .contact-icon {
  position: fixed;
  bottom: 40px;
  right: 50px;
  cursor: pointer;
  padding: 16px;
}

.floating-contact-form .contact-icon i {
  font-size: 42px;
  color: #003049;
  transition: all 300ms ease;
}

.floating-contact-form .contact-icon i:hover {
  transform: scale(1.1);
}

.floating-contact-form .form-container {
  position: fixed;
  bottom: 120px;
  right: 50px;
  padding: 24px 36px;
  width: 480px;
  font-family: "Roboto", sans-serif;
  box-shadow: 0 10px 50px rgba(0, 0, 0, 0.1);
  border-radius: 24px;

  transform: rotateZ(-6deg);
  transform-origin: bottom right;
  opacity: 0;
  pointer-events: none;
  transition: all 500ms ease;
}

.floating-contact-form .form-container.active {
  transform: rotateZ(0deg);
  opacity: 1;
  pointer-events: auto;
}

.floating-contact-form * {
  box-sizing: border-box;
}

.floating-contact-form h3 {
  font-size: 30px;
  color: #003049;
  margin-top: 10px;
  position: relative;
}

.floating-contact-form h3::after {
  content: "";
  height: 3px;
  width: 36px;
  background: #ef233c;
  position: absolute;
  left: 0;
  bottom: -4px;
}

.floating-contact-form form input[type="text"],
.floating-contact-form form textarea {
  width: 100%;
  padding: 14px 32px;
  padding-left: 40px;
  font-size: 16px;
  border: 1px solid rgba(0, 47, 73, 0.3);
  border-radius: 8px;
  color: #003049;
  margin-bottom: 20px;
}

.floating-contact-form form input:focus,
.floating-contact-form form textarea:focus {
  outline: none;
}

.floating-contact-form .field-container {
  position: relative;
}

.floating-contact-form .field-container label {
  position: absolute;
  top: 16px;
  left: 40px;
  color: #003049;
  border-left: 8px solid #fff;
  border-right: 8px solid #fff;
  transition: all 300ms ease;
  pointer-events: none;
}

.floating-contact-form .field-container label.active {
  font-size: 13px;
  background: #ef233c;
  color: #fff;
  padding: 2px 16px;
  top: -8px;
  left: 24px;
  font-weight: bold;
}

.floating-contact-form .field-container i {
  position: absolute;
  top: 16px;
  left: 12px;
  color: rgba(0, 55, 85, 0.8);
}

.floating-contact-form form textarea {
  height: 150px;
  resize: none;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
}


.floating-contact-form form input[type="submit"] {
  border: none;
  background: #003049;
  color: #fff;
  padding: 16px 32px;
  width: 100%;
  border-radius: 24px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: all 500ms ease;
}

.floating-contact-form form input[type="submit"]:hover {
  background: #00659b;
}
